# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CopyGitRepo\register-office\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
